.grid {
  background-color: rgba(255,255,255, 0.1);
  width: 100%;
  text-align: center;
  min-height: 350px;
  border-radius: 3px;
  color: white;
  .icon-center {
    margin-top: 25%;
  }
  .onlyBig {
    display: none;
  }
  i{
    font-size: 40px;
    padding: 20px;
    background-image:linear-gradient(180deg,yellow,red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  p{
    font-weight: bold;
  }
  .headline {
    font-size: 28px;
  }
  .small-p-only {
    font-size: 14px;
    color: rgba(255,255,255, 0.5);
  }
}
.col-big {
  .grid {
    background-color: rgba(255,255,255, 0.15);
    p {
      font-size: 30px;
    }
    i{
      display: none;
      font-size: 60px;
      padding: 20px;
      background-image:linear-gradient(180deg,yellow,red);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .small-p-only {
      display: none;
    }
    .onlyBig {
      display: block;
      p {
        font-size: 20px;
      }
      i{
        display: block;
        font-size: 40px;
        padding: 20px;
        background-image:linear-gradient(180deg,purple,red);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      .small-p {
        font-size: 12px;
        color: rgba(255,255,255, 0.5);
      }
      .start-btn {
        padding: 10px;
        margin: 20px;
        background-image:linear-gradient(180deg,purple,red);
        border-radius: 3px;
        color: rgba(255,255,255, 0.8);
        width: 30%;
        display: inline-block;
      }
      .start-btn:hover {
        background-image:linear-gradient(180deg,red,yellow);
        color: rgba(255,255,255, 1.0);
        text-decoration: none;
      }
    }
  }
}
.col-small {
  .grid {
    background-color: rgba(255,255,255, 0.05);
    i{
      font-size: 30px;
      padding: 20px;
      background-image:linear-gradient(180deg,grey,grey);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .small-p-only {
      display: none;
    }
    .headline {
      font-size: 20px;
      color: rgba(255,255,255, 0.5);
    }
  }
}

.animation-in {
  padding-right: 5px;
  padding-left: 5px;
  transition: all 1.25s;
}
.animation-out {
  padding-right: 5px;
  padding-left: 5px;
  transition: all 1.25s;
}