.grid {
  background-color: rgba(255, 255, 255, 0.1);
  width: 100%;
  text-align: center;
  min-height: 300px;
  border-radius: 3px;
  color: white; }
  .grid .onlyBig {
    display: none; }
  .grid i {
    font-size: 40px;
    padding: 20px;
    background-image: linear-gradient(180deg, yellow, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  .grid p {
    font-weight: bold; }

#col-1 {
  padding-right: 5px;
  padding-left: 5px; }

#col-2 {
  padding-right: 5px;
  padding-left: 5px; }

#col-3 {
  padding-right: 5px;
  padding-left: 5px; }

.col-big .grid {
  background-color: rgba(255, 255, 255, 0.15); }
  .col-big .grid p {
    font-size: 30px; }
  .col-big .grid i {
    display: none;
    font-size: 60px;
    padding: 20px;
    background-image: linear-gradient(180deg, yellow, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  .col-big .grid .onlyBig {
    display: block; }
    .col-big .grid .onlyBig p {
      font-size: 20px; }
    .col-big .grid .onlyBig i {
      display: block;
      font-size: 40px;
      padding: 20px;
      background-image: linear-gradient(180deg, purple, red);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; }

.col-small .grid {
  background-color: rgba(255, 255, 255, 0.05); }
  .col-small .grid i {
    font-size: 30px;
    padding: 20px;
    background-image: linear-gradient(180deg, grey, grey);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }

body {
  background-color: white;
  font-family: 'Montserrat', sans-serif; }

.header {
  min-height: 50px;
  background-color: #EA00FF;
  opacity: 0.8;
  border: 1px solid #15FF00;
  border-radius: 5px 5px 0px 0px;
  text-align: center;
  color: #15FF00; }

.body {
  background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #15FF00), color-stop(1, #EA00FF));
  min-height: 800px;
  border-left: 1px solid #EA00FF;
  border-right: 1px solid #15FF00;
  padding: 40px; }
  .body #thumb {
    font-size: 20px;
    color: green; }

button {
  background-color: #EA00FF;
  color: #15FF00; }

.footer {
  min-height: 50px;
  background-color: #15FF00;
  opacity: 0.9;
  border: 1px solid #EA00FF;
  border-radius: 0px 0px 5px 5px;
  text-align: center;
  color: #EA00FF; }
